section {
  .section__content {
    nav {
      margin-bottom: 100px;
      padding: 10px;
      background-color: #ccc;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      right: 0;
      ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          li {
            list-style: none;
            color: #1100ff;
          }
        }
        input {
          padding: 10px;
          width: 300px;
          background-color: #ccc;
          outline: none;
          border: none;
          border: 2px solid #1100ff;
          color: #1100ff;
          border-radius: 4px;
        }
        input::placeholder {
          color: #1100ff;
        }
        select {
          background-color: #ccc;
          padding: 8px 15px;
          color: #fff;
          border: 3px solid #1100ff;
          border-radius: 8px;
          cursor: pointer;
          outline: none;
          color: #1100ff;
          font-weight: 600;
          font-size: 18px;
        }
        option {
          background-color: #ccc;
          color: #1100ff;
        }
      }
    }
    .wrapper {
      margin-top: 100px;
      padding: 0 16px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 100px;
    }
  }
}
.newimg {
  width: 300px;
  height: 300px;
  margin: 0;
  border-radius: 8px;
}
.newh3 {
  max-width: 300px;
  margin: 0;
  color: blue;
}
.product {
  max-width: 400px;
  padding: 10px;
  background-color: #ccc;
  border-radius: 12px;
}
.newp {
  color: green;
  font-size: 18px;
  font-weight: 600;
}
.newpi {
  color: red;
  font-weight: 800;
  font-size: 24px;
  margin: 0;
}
